:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
  --bg-hero-footer: #2f303a;
  --bg-grey: #F5F4FA;
}
body {
  background-color: var(--white-color)
  color: var(--primary-text-color);
}
/* Хедер */
.header {
  background-color: var(--white-color);
}
.logo {
  color: var(--title-text-color);
}
.logo-first {
  color: var(--accent-color);
}
/* Навигация шапка */
.naw-list .link {
  color: var(--title-text-color);
}
.naw-list .link:hover,
.naw-list .link:focus {
  color: var(--accent-color);
}
.naw-list .link.current{
  color: var(--accent-color);
}
/* Блок контакты */
.contacts-block .link {
  color: var(--primary-text-color);
}
.contacts-block .link:hover,
.contacts-block .link:focus {
  color: var(--accent-color);
}
/* Секция */
.section-title {
  color: var(--title-text-color);
}
/* Герой */
.hero {
  background-color: var(--bg-hero-footer);
}
.hero-title {
  color: var(--white-color);
}
/* Преимущества */
.benefits .title {
  color: var(--title-text-color);
}
/* Наша команда */
.team {
  background-color: var(--bg-grey);
}
/* Примеры работ Портофолио  */
.works-list .section-title:hover,
.works-list .section-title:focus {
  color: var(--accent-color);
}
/* Футтер */
.footer {
  background-color: var(--bg-hero-footer);
}
.logo-footer {
  color: var(--white-color);
}
.logo-footer-first {
  color: var(--accent-color);
}
.contacts-footer .link-address {
  color: var(--white-color);
}
.contacts-footer .link-address:hover,
.contacts-footer .link-address:focus {
  color: var(--accent-color);
}
.contacts-footer .link {
  color: var(--contacts-footer-color);
}
.contacts-footer .link:hover,
.contacts-footer .link:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
}
.text {
  text-decoration: none;
}
/* Кнопка */
.button-hero {
  background-color: var(--accent-color);
  color: var(--white-color);
}
.button-filter {
  background-color: #f5f4fa;
  color: var(--title-text-color);
}

/* #2196F3; голубой цвет
 #212121; цыет тёмный
 #757575; номер телефона параграфы
 #FFFFFF; белыйй цвет
 rgba(255, 255, 255, 0.6); коетакты в футоре
 #2F303A; бекграунд героя
 #188CE8; кнопка ховер
 #2F303A бекграунд футера
 #188CE8 кнопка хвер*/
